*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

@media(max-width: 780px) {
    body.mobile-menu-opened {
        overflow: hidden;
    }
}

h2 {
    margin: 0;
    font-family: 'Banny', sans-serif;
    font-size: 36px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        background: #e8c300;
        border-radius: 50px;
        width: 60px;
        height: 5px;
        top: 100%;
        left: calc(50% - 30px);
    }
}

.container {
    width: 1300px;
    margin: 0 auto;

    @media(max-width: 1310px) {
        width: 1200px;
        margin: 0 auto;
    }

    @media(max-width: 1260px) {
        width: 980px;
        margin: 0 auto;
    }

    @media(max-width: 980px) {
        width: 700px;
        margin: 0 auto;
    }

    @media(max-width: 780px) {
        width: 300px;
        margin: 0 auto;
    }
}

.btn {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    outline: none;
    padding: 25px 50px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background: #e8c300;
    box-shadow: 1px 1px 9px 2px rgba(232, 195, 0, 0.26);
    border-radius: 5px;
    transition: box-shadow 0.2s;
    cursor: pointer;

    &:hover {
        box-shadow: 1px 1px 9px 2px rgba(232, 195, 0, 0.66);
    }
}

/*! HEADER START */
.header_wrapper {
    position: absolute;
    width: 100%;

    .main_menu_wrapper {
        .main_menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .menu {
                list-style: none;
                margin: 0 -30px;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);

                li {
                    a {
                        display: block;
                        text-decoration: none;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 18px;
                        padding: 50px 0;
                        margin: 0 30px;
                        color: #ffffff;

                        &:hover, &:focus {
                            color: #e8c300;
                        }
                    }
                }
            }

            .img_wrapper {
                padding-top: 25px;

                span {
                    display: block;
                    width: 180px;
                    height: 180px;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        animation-name: anchor;
                        animation-duration: 20s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                    }
                }

                &:hover {
                    span {
                        animation-name: anchor-wrapper;
                        animation-duration: 10s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                    }
                }
            }
        }
    }
}
/*! HEADER END */

@keyframes anchor-wrapper {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-360deg);
    }
}

/*! SECTION MAIN BANNER START */
.main_banner_wrapper {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 320px 0 60px;
    height: 100vh;

    .main_banner_content {
        h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            letter-spacing: 0.5em;
            text-transform: uppercase;
            color: #ffffff;
        }

        h1 {
            margin: 50px 0;
            font-family: 'Banny', sans-serif;
            font-size: 96px;
            line-height: normal;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                background: #e8c300;
                border-radius: 50px;
                width: 60px;
                height: 5px;
                top: 100%;
                left: calc(50% - 30px);
            }
        }

        .btn_wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .btn.white {
                background: transparent;
                border: 1px solid #ffffff;
                box-shadow: none;
                margin-left: 40px;
                transition: box-shadow 0.2s;

                &:hover {
                    box-shadow: 1px 1px 9px 2px rgba(243, 241, 241, 0.66);
                }
            }
        }

        .social_media {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 70px -10px 0;

            .social_media_item {
                margin: 0 10px;
                width: 60px;
                height: 60px;
                text-align: center;
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.2);
                cursor: pointer;

                .fa {
                    color: #ffffff;
                    font-size: 28px;
                    line-height: 58px;
                    transition: color 0.2s;
                }

                &:hover .fa {
                    color: #e8c300;
                }
            }
        }

        .header_btn {
            display: block;
            margin: 80px auto 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            text-align: center;
            background: #ffffff;
            border: none;
            transition: background 0.2s;

            &:hover {
                background: #e8c300;
            }
        }
    }
}
/*! SECTION MAIN BANNER END */

/*! SECTION ABOUT US START */
.about_us_wrapper {
    padding: 100px 0;
    height: 100vh;

    .about_us {
        display: flex;
        flex-direction: row;
        align-items: center;

        .about_us_item {
            h2 {
                color: #000000;
            }

            .title {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                text-align: center;
            }

            .descr {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
            }

            .img_wrapper {
                position: relative;

                img {
                    display: block;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 250px;
                    height: 250px;
                    border: 20px solid #e8c300;
                    border-radius: 5px;
                    top: calc(50% - 125px);
                    left: 65%;
                    animation-name: square;
                    animation-duration: 2s;
                    animation-delay: 3s;
                }
            }


        }
    }
}
/*! SECTION ABOUT US END */

/*! SECTION OUR TEAM START */
.our_team_wrapper {
    background-image: url(../img/specialty-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 100px 0;

    h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        color: #ffffff;
    }

    .our_team {
        display: flex;
        flex-direction: row;
        align-items: center;

        .our_team_item {
            .title {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                text-align: center;
                color: #ffffff;
            }

            .descr {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                color: #ffffff;
            }

            .img_wrapper {
                position: relative;

                img {
                    display: block;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 250px;
                    height: 250px;
                    border: 20px solid #e8c300;
                    border-radius: 5px;
                    top: calc(50% - 125px);
                    right: 65%;
                    animation-name: square;
                    animation-duration: 2s;
                    animation-delay: 3s;
                }
            }


        }
    }
}
/*! SECTION OUR TEAM END */

@keyframes anchor {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes square {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    to {
        transform: scale(1);
    }
}